body {
    padding-top: 50px;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
#main {
	text-align: center;
	width: 100%;
	margin: 0 auto 20px auto;
}
#copyright {
	color: #999;
	font-size: 0.8em;
}
.code {
	height: 100%;
	font-size: 45px;
	font-weight: bold;
	color: #b00;
	border: 1px solid #f0f0f0;
}
.control{
	text-align: center;
}

.control button{
	width: 100px;
}
#endBtn{
  visibility: hidden;
}